
    <div class="container">
        <section class="col-md-9">
            <article>
                <h2>About</h2>
                <p>Founded in 200X,Me.Company is a software solution company that specialize in mobile and web application, mainframe, cloud-native solutions, database management systems, AI models, Kubernetes, blockchain and many more...  </p>
            </article>
        
        </section>

        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Looking forward to see you</p>
        </aside>
        
    </div>

    